@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

body {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    text-align: center;
}

h1 { 
    font-size: 3em; 
    font-weight: bold; 
    margin-bottom: 0.5em; 
    margin-top: 1em;
}

.container {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.grid {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /*height: 300px;
    width: 400px;*/
    align-items: center;
}

.spacewelcomemsg {
    font-size: 1.2em;
    background: linear-gradient(to bottom, rgb(36, 72, 114), rgb(112, 151, 39));
    color: white;
    text-shadow: 1px 1px 10px black;
    height: 100%;
    width: 100%;
    margin: 0;
    height: 300px;
    width: 400px;
}

.welcomemsg {
    margin-top: 5em;
}

img {
    width: 100px;
    height: 100px;
}

#btn {
    font-size: 0.7em;
    color: white;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    background: rgb(112, 151, 39);
    padding: 0.2em;
    margin-top: 1.5em;
}

#btn:hover {
    box-shadow: 1px 1px 5px black;
    transition-duration: 0.2s;
}

.score {
    font-size: 1.2em;
    margin-top: 3em;
}

.footer {
    font-size: 14px;
    margin-top: 3em;
}